@model Colorado.Web.Api.Consumer.Models.ClienteModel

@{
	ViewData["Title"] = "Editar";
}

<h1>Editar</h1>

@using (Html.BeginForm("Update", "Home", FormMethod.Post))
{
	@Html.AntiForgeryToken()
	<hr />
	<div class="row">
		<div class="col-md-4">
			<form asp-action="Edit">
				<div asp-validation-summary="ModelOnly" class="text-danger"></div>
				<div class="form-group">
					@Html.LabelFor(model => model.Id, htmlAttributes: new { @class = "control-label col-md-2" })
					<div class="col-md-10">
						@Html.EditorFor(model => model.Id, new { htmlAttributes = new { @readonly="readonly", @class = "form-control" } })
						@Html.ValidationMessageFor(model => model.Id, "", new { @class = "text-danger" })
					</div>
				</div>
				<div class="form-group">
					@Html.LabelFor(model => model.CodigoCliente, htmlAttributes: new { @class = "control-label col-md-2" })
					<div class="col-md-10">
						@Html.EditorFor(model => model.CodigoCliente, new { htmlAttributes = new { @class = "form-control" } })
						@Html.ValidationMessageFor(model => model.CodigoCliente, "", new { @class = "text-danger" })
					</div>
				</div>
				<div class="form-group">
					@Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "control-label col-md-2" })
					<div class="col-md-10">
						@Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control" } })
						@Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
					</div>
				</div>
				<div class="form-group">
					@Html.LabelFor(model => model.Endereco, htmlAttributes: new { @class = "control-label col-md-2" })
					<div class="col-md-10">
						@Html.EditorFor(model => model.Endereco, new { htmlAttributes = new { @class = "form-control" } })
						@Html.ValidationMessageFor(model => model.Endereco, "", new { @class = "text-danger" })
					</div>
				</div>
				<div class="form-group">
					@Html.LabelFor(model => model.Cidade, htmlAttributes: new { @class = "control-label col-md-2" })
					<div class="col-md-10">
						@Html.EditorFor(model => model.Cidade, new { htmlAttributes = new { @class = "form-control" } })
						@Html.ValidationMessageFor(model => model.Cidade, "", new { @class = "text-danger" })
					</div>
				</div>
				<div class="form-group">
					@Html.LabelFor(model => model.UF, htmlAttributes: new { @class = "control-label col-md-2" })
					<div class="col-md-10">
						@Html.EditorFor(model => model.UF, new { htmlAttributes = new { @class = "form-control" } })
						@Html.ValidationMessageFor(model => model.UF, "", new { @class = "text-danger" })
					</div>
				</div>
				<div class="form-group">
					@Html.LabelFor(model => model.DataCadastro, htmlAttributes: new { @class = "control-label col-md-2" })
					<div class="col-md-10">
						@Html.TextBoxFor(model => model.DataCadastro, htmlAttributes: new { @class = "form-control" })
						@Html.ValidationMessageFor(model => model.DataCadastro, "", new { @class = "text-danger" })
					</div>
				</div>
				<div class="form-group">
					<input type="submit" id="Salvar" name="Salvar" value="Salvar" class="btn btn-primary" />
				</div>
			</form>
		</div>
	</div>
}
<div>
	<a asp-action="Index">Home</a>
</div>
