@using Colorado.WebApiConsumer.MVC.Model;
@model IEnumerable<Cliente>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_reservaLayout.cshtml";
}

<a asp-action="AddReserva" class="btn btn-sm btn-primary">Incluir Cliente</a>
<a asp-action="GetReserva" class="btn btn-sm btn-secondary">Obter Cliente</a>

<table class="table table-sm table-striped table-bordered m-2">
    <thead>
        <tr>
            <th>ID</th>
            <th>Codigo Cliente</th>
            <th>Nome</th>
            <th>Endereço</th>
            <th>Cidade</th>
            <th>UF</th>
            <th>Data Cadastro</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var r in Model)
        {
            <tr>
                <td>@r.Id</td>
                <td>@r.CodigoCliente</td>
                <td>@r.Nome</td>
                <td>@r.Endereco</td>
                <td>@r.Cidade</td>
                <td>@r.UF</td>
                <td>@r.DataCadastro</td>
                <td>
                    <a asp-action="UpdateCliente" asp-route-id="@r.Id"><i class="fas fa-edit"></i></a>
                </td>
                <td>
                    <form asp-action="DeleteCliente" method="post">
                        <input type="hidden" value="@r.Id" name="Id" />
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>